@import "./variables";

.Auth-Link {
  font-family: Segoe UI, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  position: fixed;
  top: 20px;
  right: 20px;
  color: $text-color;
  padding: 10px;
  border: $block-border;
  background: $background-light-color;
  border-radius: 5px;
}

.Auth-Link:hover {
  transition: 0.5s ease;
  box-shadow: 0 0 10px white;
}

.Auth-Link a,
.Auth-Link a:active,
{
  text-decoration: none;
  color: $text-color;
}

.Auth-box {
  font-family: Segoe UI, sans-serif;
  border-radius: 20px;
  border: $block-border;
  background: $background-light-color;
  width: fit-content;
  height: fit-content;
  min-height: 350px;
  min-width: 300px;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr;
  //grid-template-rows: auto 1fr 1fr 1fr; set ur grid template in inline styles of box
  padding: 20px;

  h1 {
    color: $text-color;
    text-align: center;
  }

  input, button {
    margin: 15px auto;
    font-family: Segoe UI, sans-serif;
    font-size: $text-size;
    padding: 10px 5px 10px 5px;
    border-radius: 5px;
    border: $block-border;
  }

  input[type="password"]::-ms-reveal {
    display: none;
  }

  input[type="file"] {
    display: none;
  }

  button {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    position: relative;
    max-width: fit-content;
    border: $block-border;
  }

  button:hover {
    transition: 0.5s ease;
    box-shadow: 0 0 10px white;
  }

  button:active {
    top: 2px;
  }

  input:focus {
    transition: 0.5s ease;
    box-shadow: 0 0 10px white;
  }
}

.Auth-box-Container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.custom-file-input {
  border: $block-border;
  font-weight: bold;
  margin: 10px auto;
  display: block;
  width: fit-content;
  padding: 10px;
  cursor: pointer;
  background: white;
  border-radius: 5px;
}

