@import "./variables";


.Auth-Wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Auth-Header {
  margin: 10px 0;
  color: white;
}

.Auth-link {
  color: white;
  text-align: center;
  margin: 15px 0 15px 0;
  background: #181818; //$background-color
  border: #0f0f0f 1px solid; //$block-border
  padding: 15px;
  border-radius: 15px;
  width: fit-content;
  height: fit-content;
  min-width: $Auth-Min-Size;

  a {
    color: #1976d2;
    text-decoration: none;
  }
}

.Custom-Box {
  width: fit-content;
  height: fit-content;
  min-width: $Auth-Min-Size;
  min-height: $Auth-Min-Size;
  background: $background-color; //$background-color
  border: $block-border; //$block-border
  border-radius: 15px;

  & form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.Custom-TextField {
  & input {
    font-size: 18px;
  }

  & label {
    color: rgba(255, 255, 255, 0.7);
  }

  &:hover label {
    color: #006ac0;
  }

  & label.Mui-focused {
    color: #006ac0;
  }

  & .MuiInput-underline:after {
    border-bottom-color: #006ac0;
  }

  & .MuiOutlinedInput-root {
    color: #fff;

    & fieldset {
      border-color: rgba(255, 255, 255, 0.7);
      border-width: 2px;
    }

    &:hover fieldset {
      border-color: #006ac0;
      border-width: 2px;
    }

    &.Mui-focused fieldset {
      border-color: #006ac0;
    }
  }
}

.Custom-Auth-Button {
  width: 100px;
  color: #fff;

  &:hover {
    background-color: #0069d9;
    border-color: #0062cc;
    box-shadow: none;
  }

  &:active {
    box-shadow: none;
    background-color: #0062cc;
    border-color: #005cbf;
  }

  &:disabled {
    background-color: #003983;
  }
}