@import "./variables";

.Content-Background {
  height: 100%;

  .Content {
    border: $block-border;
    grid-area: content;
    width: 100%;
    height: 100%;
    background: $background-image center center;
  }
}
