@import "./variables";

.SettingsPage {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;

  div {
    width: 100%;
  }

  .item {
    margin: 10px;
  }

  .inputImage {
    width: max-content;
    cursor: pointer;
    border: $block-border;
    border-radius: 5px;
    padding: 5px;
    background: $background-color;
  }
}

