@import "./variables";

.SideBar{
  grid-area: sidebar;
  height: 100%;
  min-height: 100%;
  width: 300px;
  border: $block-border;
  background-color: $background-light-color;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
}
