@import "./variables";

.SideBar {
  height: 100%;
  width: $SideBar-Width;
  min-width: $SideBar-Width;
  border: $block-border;
  background-color: $background-light-color;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  transition: all 0.2s linear;

  .Scroll {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    height: $SideBar-Scroll-Height;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background: none;
  }

  ::-webkit-scrollbar-thumb {
    background: $background-color;
    border-radius: 5px;
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  div {
    animation: 0.5s show ease;
  }

  @keyframes show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

@media (max-width: 600px) {
  .App{
    overflow: hidden;
  }
  .SideBar.close{
    display: none;
    transform: translateX(-100%);
    opacity: 0;
  }
  .SideBar{
    opacity: 1;
    width: 100%;
    min-width: 100%;
  }
}



