$background-color: #181818;
$background-light-color: #212121;
$background-image: url(../assets/img/bg-img.png);
$text-size: 18px;
$text-color: white;
$dark-text-color: gray;
$block-border: #0f0f0f 1px solid;
$settings-bar-height: 60px;


